	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1366px;
	}

	#u2080
	{
		width: 972px;
		padding-bottom: 0px;
		left: 192px;
	}

	#u2080_position_content
	{
		padding-top: 16px;
	}

	#u2057-4
	{
		margin-left: 40px;
	}

	#u2083
	{
		width: 972px;
		padding-bottom: 37px;
		margin-top: 11px;
	}

	#u2056
	{
		width: 887px;
		margin-top: 36px;
		left: 42px;
	}

	#u2056_position_content
	{
		margin-top: -2px;
		margin-bottom: -75px;
	}

	#u2062
	{
		width: 887px;
	}

	#u2059
	{
		padding-bottom: 45px;
	}

	#u2081-4
	{
		margin-top: 14px;
		left: 15px;
	}

	#pu2085
	{
		z-index: 7;
		width: 0.01px;
		margin-right: -10000px;
		margin-left: 119px;
	}

	#u2085
	{
		width: 127px;
	}

	#u2086
	{
		width: 127px;
		left: 124px;
	}

	#u2085:hover,#u2086:hover
	{
		width: 127px;
	}

	#pu2049-5
	{
		margin-left: 13px;
		margin-top: 8px;
	}

	#u2049-5
	{
		margin-top: 12px;
	}

	#u2189-7
	{
		margin-top: 22px;
	}

	#widgetu2063
	{
		height: 280px;
		left: 466px;
	}

	#widgetu2065
	{
		width: 108px;
		height: 28px;
		margin-top: 28px;
		left: 270px;
	}

	#widgetu2065.fld-err-st
	{
		margin-top: 28px;
		width: 108px;
		height: 28px;
	}

	#u2066-3
	{
		width: 96px;
		height: 16px;
	}

	#widgetu2065:hover #u2066-3
	{
		width: 96px;
		height: 16px;
	}

	#widgetu2065.focus-st #u2066-3
	{
		width: 96px;
		height: 16px;
	}

	#widgetu2065.fld-err-st #u2066-3,#widgetu2065_input
	{
		width: 96px;
		height: 16px;
	}

	#widgetu2069
	{
		width: 340px;
		left: 44px;
	}

	#widgetu2069.fld-err-st
	{
		margin-top: 0px;
		width: 340px;
	}

	#u2070-3
	{
		width: 328px;
	}

	#widgetu2069:hover #u2070-3
	{
		width: 328px;
	}

	#widgetu2069.focus-st #u2070-3
	{
		width: 328px;
	}

	#widgetu2076
	{
		width: 340px;
		margin-top: 81px;
	}

	#widgetu2076.fld-err-st
	{
		margin-top: 81px;
		width: 340px;
	}

	#widgetu2069.fld-err-st #u2070-3,#widgetu2069_input,#u2077-3
	{
		width: 328px;
	}

	#widgetu2076:hover #u2077-3
	{
		width: 328px;
	}

	#widgetu2076.focus-st #u2077-3
	{
		width: 328px;
	}

	#widgetu2076.fld-err-st #u2077-3,#widgetu2076_input
	{
		width: 328px;
	}

	#u2074-4,#u2073-4,#u2064-4
	{
		margin-top: 255px;
		left: 224px;
	}

	#u2075-4
	{
		width: 101px;
		margin-top: 146px;
		left: 206px;
	}

	#u2075-4:hover
	{
		margin-top: 146px;
		width: 101px;
	}

	#u2075-4:active
	{
		margin-top: 146px;
		width: 101px;
	}

	#u2052
	{
		margin-top: 199px;
		left: 326px;
	}

	#u2082
	{
		margin-top: 199px;
		left: 453px;
	}

	#u2050-4
	{
		margin-top: 201px;
		left: 408px;
	}

	#u2055-6
	{
		width: 124px;
		margin-top: 226px;
		left: 406px;
	}

	#u2060-6
	{
		width: 117px;
		margin-top: 225px;
		left: 248px;
	}

	#u2051
	{
		margin-top: 199px;
		left: 576px;
	}

	#u2048-4
	{
		margin-top: 201px;
		left: 532px;
	}

	#u2061-6
	{
		width: 124px;
		margin-top: 226px;
		left: 530px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 581px);
	}

	body
	{
		min-width: 1366px;
	}


