	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1366px;
	}

	#u991
	{
		width: 972px;
		padding-bottom: 0px;
		left: 192px;
	}

	#u991_position_content
	{
		padding-top: 16px;
	}

	#u996-4
	{
		margin-left: 40px;
	}

	#u995
	{
		width: 972px;
		padding-bottom: 37px;
		margin-top: 11px;
	}

	#u987
	{
		width: 887px;
		margin-top: 36px;
		left: 42px;
	}

	#u987_position_content
	{
		margin-top: -2px;
		margin-bottom: -75px;
	}

	#u997
	{
		width: 887px;
	}

	#u998
	{
		padding-bottom: 45px;
	}

	#u988-4
	{
		margin-top: 14px;
		left: 15px;
	}

	#pu990
	{
		z-index: 7;
		width: 0.01px;
		margin-right: -10000px;
		margin-left: 119px;
	}

	#u990
	{
		width: 127px;
	}

	#u1356
	{
		width: 127px;
		left: 124px;
	}

	#u990:hover,#u1356:hover
	{
		width: 127px;
	}

	#pu989-5
	{
		margin-left: 13px;
		margin-top: 8px;
	}

	#u989-5
	{
		margin-top: 12px;
	}

	#u994-3
	{
		width: 101px;
		min-height: 34px;
		margin-top: 146px;
		left: 566px;
	}

	#u994-3:hover
	{
		margin-top: 146px;
		min-height: 34px;
		width: 101px;
	}

	#u993-4
	{
		margin-top: 155px;
		left: 594px;
	}

	#u1397-5
	{
		margin-top: 66px;
	}

	#u1403-4
	{
		margin-top: 117px;
	}

	#widgetu1001
	{
		height: 280px;
		left: 466px;
	}

	#widgetu1002
	{
		width: 108px;
		height: 28px;
		margin-top: 28px;
		left: 270px;
	}

	#widgetu1002.fld-err-st
	{
		margin-top: 28px;
		width: 108px;
		height: 28px;
	}

	#u1003-3
	{
		width: 96px;
		height: 16px;
	}

	#widgetu1002:hover #u1003-3
	{
		width: 96px;
		height: 16px;
	}

	#widgetu1002.focus-st #u1003-3
	{
		width: 96px;
		height: 16px;
	}

	#widgetu1002.fld-err-st #u1003-3,#widgetu1002_input
	{
		width: 96px;
		height: 16px;
	}

	#widgetu1010
	{
		width: 340px;
		left: 44px;
	}

	#widgetu1010.fld-err-st
	{
		margin-top: 0px;
		width: 340px;
	}

	#u1011-3
	{
		width: 328px;
	}

	#widgetu1010:hover #u1011-3
	{
		width: 328px;
	}

	#widgetu1010.focus-st #u1011-3
	{
		width: 328px;
	}

	#widgetu1006
	{
		width: 340px;
		margin-top: 81px;
	}

	#widgetu1006.fld-err-st
	{
		margin-top: 81px;
		width: 340px;
	}

	#widgetu1010.fld-err-st #u1011-3,#widgetu1010_input,#u1007-3
	{
		width: 328px;
	}

	#widgetu1006:hover #u1007-3
	{
		width: 328px;
	}

	#widgetu1006.focus-st #u1007-3
	{
		width: 328px;
	}

	#widgetu1006.fld-err-st #u1007-3,#widgetu1006_input
	{
		width: 328px;
	}

	#u1016-4,#u1014-4,#u1017-4
	{
		margin-top: 255px;
		left: 224px;
	}

	#u1015-4
	{
		width: 101px;
		margin-top: 146px;
		left: 206px;
	}

	#u1015-4:hover
	{
		margin-top: 146px;
		width: 101px;
	}

	#u1015-4:active
	{
		margin-top: 146px;
		width: 101px;
	}

	#u992
	{
		margin-top: 199px;
		left: 326px;
	}

	#u1018
	{
		margin-top: 199px;
		left: 453px;
	}

	#u1000-4
	{
		margin-top: 201px;
		left: 408px;
	}

	#u1019-6
	{
		width: 124px;
		margin-top: 226px;
		left: 406px;
	}

	#u999-6
	{
		width: 117px;
		margin-top: 225px;
		left: 248px;
	}

	#u1357
	{
		margin-top: 199px;
		left: 576px;
	}

	#u1358-4
	{
		margin-top: 201px;
		left: 532px;
	}

	#u1359-6
	{
		width: 124px;
		margin-top: 226px;
		left: 530px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 581px);
	}

	body
	{
		min-width: 1366px;
	}


