.version.paso2_1 /* version checker */
{
	color: #0000F1;
	background-color: #BE9AC4;
}

#page
{
	margin-right: auto;
	background-image: none;
	min-height: 444px;
	background-color: #777777;
	z-index: 1;
	padding-bottom: 62px;
	border-width: 0px;
	border-color: transparent;
	margin-left: auto;
}

#u991
{
	margin-top: 91px;
	border-radius: 6px;
	margin-right: -10000px;
	position: relative;
	z-index: 2;
	background-color: #FFFFFF;
}

#u996-4
{
	z-index: 8;
	position: relative;
	display: block;
	vertical-align: top;
}

#u995
{
	border-radius: 0px 0px 8px 8px ;
	position: relative;
	border-color: #C7C7C7;
	border-style: solid;
	z-index: 3;
	background-color: #FFFFFF;
	border-width: 1px 0px 0px;
}

#u987
{
	border-radius: 8px;
	margin-right: -10000px;
	position: relative;
	padding-bottom: 0px;
	border-color: #C7C7C7;
	border-style: solid;
	z-index: 4;
	border-width: 1px;
	background-color: transparent;
}

#u991_position_content,#u987_position_content
{
	width: 100%;
}

#u997
{
	left: -1px;
	border-radius: 8px 8px 0px 0px ;
	background-color: #F5F5F5;
	position: relative;
	border-style: solid;
	z-index: 5;
	border-width: 1px;
	border-color: #C7C7C7;
}

#u998
{
	border-radius: 7px 0px 0px 0px ;
	margin-right: -10000px;
	position: relative;
	z-index: 6;
	width: 119px;
	background-color: #B1DFBB;
}

#u990
{
	border-radius: 7px 0px 0px 0px ;
	margin-right: -10000px;
	position: relative;
	z-index: 7;
	background-color: #B1DFBB;
	height: 81px;
}

#u1356
{
	border-radius: 7px 0px 0px 0px ;
	margin-right: -10000px;
	position: relative;
	z-index: 21;
	background-color: #5CB85C;
	height: 81px;
}

#u990:hover,#u1356:hover
{
	border-radius: 0px;
	height: 81px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu989-5
{
	z-index: 12;
	width: 0.01px;
}

#u989-5
{
	display: block;
	margin-right: -10000px;
	position: relative;
	z-index: 12;
	vertical-align: top;
}

#u994-3
{
	border-style: solid;
	color: #FFFFFF;
	border-radius: 4px 0px 0px 4px ;
	font-size: 17px;
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	margin-right: -10000px;
	border-color: #000000;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	text-indent: 47px;
	line-height: 34px;
	z-index: 18;
	border-width: 1px;
	background-color: #666666;
	opacity: 0.53;
}

#u994-3:hover
{
	padding-top: 0px;
	margin-bottom: 0px;
	margin-right: -10000px;
	opacity: 0.89;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=89)";
	filter: alpha(opacity=89);
	padding-bottom: 0px;
	margin-left: 0px;
}

#u993-4
{
	color: #FFFFFF;
	width: 48px;
	min-height: 22px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 20px;
	z-index: 43;
	font-size: 17px;
}

#u1397-5
{
	display: block;
	margin-right: -10000px;
	position: relative;
	z-index: 58;
	vertical-align: top;
}

#u1403-4
{
	display: block;
	margin-right: -10000px;
	position: relative;
	z-index: 63;
	vertical-align: top;
}

#widgetu1001
{
	margin-right: -10000px;
	position: relative;
	z-index: 67;
	width: 0.01px;
}

#widgetu1002
{
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
	z-index: 68;
	border-width: 0px;
	background-color: transparent;
}

#widgetu1002.fld-err-st
{
	margin-bottom: 0px;
	border-radius: 0px;
	margin-right: -10000px;
	min-height: 0px;
	background-color: transparent;
	margin-left: 0px;
}

#u1003-3
{
	color: #B5B5B5;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 14px;
	z-index: 69;
	font-style: italic;
	background-color: transparent;
	padding: 6px;
}

#widgetu1002.non-empty-st #u1003-3
{
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	margin: -1px -10001px -1px -1px;
}

#widgetu1002:hover #u1003-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #666666;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	margin: -1px -10001px -1px -1px;
}

#widgetu1002.focus-st #u1003-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #666666;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	margin: -1px -10001px -1px -1px;
}

#widgetu1002.fld-err-st #u1003-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #D7244C;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	margin: -1px -10001px -1px -1px;
}

#widgetu1002.non-empty-st #u1003-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu1002:hover #u1003-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu1002.focus-st #u1003-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu1002_input
{
	color: #B5B5B5;
	padding: 6px;
	min-height: 0px;
	position: absolute;
	font-style: italic;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#widgetu1010
{
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
	z-index: 72;
	border-width: 0px;
	background-color: transparent;
	height: 28px;
}

#u1011-3
{
	color: #B5B5B5;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	height: 16px;
	line-height: 14px;
	z-index: 73;
	font-style: italic;
	background-color: transparent;
	padding: 6px;
}

#widgetu1010.non-empty-st #u1011-3
{
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	margin: -1px -10001px -1px -1px;
}

#widgetu1010:hover #u1011-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #666666;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	height: 16px;
	margin: -1px -10001px -1px -1px;
}

#widgetu1010.focus-st #u1011-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #666666;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	height: 16px;
	margin: -1px -10001px -1px -1px;
}

#widgetu1010.non-empty-st #u1011-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu1010:hover #u1011-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu1010.focus-st #u1011-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu1006
{
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
	z-index: 76;
	border-width: 0px;
	background-color: transparent;
	height: 28px;
}

#widgetu1010.fld-err-st,#widgetu1006.fld-err-st
{
	margin-bottom: 0px;
	border-radius: 0px;
	margin-right: -10000px;
	height: 28px;
	min-height: 0px;
	background-color: transparent;
	margin-left: 0px;
}

#u1007-3
{
	color: #B5B5B5;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	height: 16px;
	line-height: 14px;
	z-index: 77;
	font-style: italic;
	background-color: transparent;
	padding: 6px;
}

#widgetu1006.non-empty-st #u1007-3
{
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	margin: -1px -10001px -1px -1px;
}

#widgetu1006:hover #u1007-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #666666;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	height: 16px;
	margin: -1px -10001px -1px -1px;
}

#widgetu1006.focus-st #u1007-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #666666;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	height: 16px;
	margin: -1px -10001px -1px -1px;
}

#widgetu1010.fld-err-st #u1011-3,#widgetu1006.fld-err-st #u1007-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #D7244C;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	height: 16px;
	margin: -1px -10001px -1px -1px;
}

#widgetu1006.non-empty-st #u1007-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu1006:hover #u1007-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu1006.focus-st #u1007-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu1002.fld-err-st #u1003-3 *,#widgetu1010.fld-err-st #u1011-3 *,#widgetu1006.fld-err-st #u1007-3 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu1010_input,#widgetu1006_input
{
	height: 16px;
	color: #B5B5B5;
	padding: 6px;
	min-height: 0px;
	position: absolute;
	font-style: italic;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#widgetu1002:hover #widgetu1002_input,#widgetu1002.focus-st #widgetu1002_input,#widgetu1002.fld-err-st #widgetu1002_input,#widgetu1010:hover #widgetu1010_input,#widgetu1010.focus-st #widgetu1010_input,#widgetu1010.fld-err-st #widgetu1010_input,#widgetu1006:hover #widgetu1006_input,#widgetu1006.focus-st #widgetu1006_input,#widgetu1006.fld-err-st #widgetu1006_input
{
	padding-bottom: 6px;
	padding-top: 6px;
}

#u1016-4
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	opacity: 0;
	padding-top: 4px;
	line-height: 14px;
	z-index: 80;
	width: 200px;
	font-size: 12px;
	height: 21px;
}

#widgetu1001.frm-sub-st #u1016-4 p
{
	line-height: 1;
	color: #999999;
	font-style: italic;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1014-4
{
	color: #FF0000;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	padding-top: 4px;
	line-height: 14px;
	z-index: 84;
	width: 200px;
	font-size: 12px;
	height: 21px;
}

#widgetu1001.frm-subm-err-st #u1014-4 p
{
	line-height: 1;
	color: #D7244C;
	font-style: italic;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1017-4
{
	color: #00FF00;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	padding-top: 4px;
	line-height: 12px;
	z-index: 88;
	width: 200px;
	font-size: 12px;
	height: 21px;
}

#widgetu1001.frm-sub-st #u1016-4,#widgetu1001.frm-subm-err-st #u1014-4,#widgetu1001.frm-subm-ok-st #u1017-4
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 4px;
	opacity: 1;
}

#widgetu1001.frm-subm-ok-st #u1017-4 p
{
	color: #999999;
	font-style: italic;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1015-4
{
	border-style: solid;
	color: #FFFFFF;
	border-radius: 0px 6px 6px 0px ;
	font-size: 17px;
	position: relative;
	text-align: center;
	margin-right: -10000px;
	border-color: #666666;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 26px;
	border-width: 1px;
	background-color: #5CB85C;
	height: 27px;
	padding: 7px 0px 0px;
}

#u1015-4:hover
{
	padding-top: 7px;
	margin-bottom: 0px;
	margin-right: -10000px;
	background-color: #141414;
	height: 27px;
	padding-bottom: 0px;
	min-height: 0px;
	border-color: #141414;
	margin-left: 0px;
}

#u1015-4:active
{
	padding-top: 7px;
	margin-bottom: 0px;
	margin-right: -10000px;
	background-color: #141414;
	height: 27px;
	padding-bottom: 0px;
	min-height: 0px;
	border-color: #141414;
	margin-left: 0px;
}

#u992
{
	margin-right: -10000px;
	position: relative;
	-webkit-transform: matrix(0.7193,0.6947,-0.6947,0.7193,28,-12);
	-ms-transform: matrix(0.7193,0.6947,-0.6947,0.7193,28,-12);
	border-color: #C7C7C7;
	transform: matrix(0.7193,0.6947,-0.6947,0.7193,28,-12);
	border-style: solid;
	z-index: 17;
	width: 56px;
	background-color: #B1DFBB;
	height: 58px;
	border-width: 1px 1px 0px 0px;
}

#u1018
{
	margin-right: -10000px;
	position: relative;
	-webkit-transform: matrix(0.7193,0.6947,-0.6947,0.7193,28,-12);
	-ms-transform: matrix(0.7193,0.6947,-0.6947,0.7193,28,-12);
	border-color: #C7C7C7;
	transform: matrix(0.7193,0.6947,-0.6947,0.7193,28,-12);
	border-style: solid;
	z-index: 22;
	width: 56px;
	background-color: #B1DFBB;
	height: 58px;
	border-width: 1px 1px 0px 0px;
}

#u1000-4
{
	line-height: 22px;
	color: #F5F5F5;
	width: 64px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	font-weight: bold;
	z-index: 23;
	font-style: normal;
	font-size: 18px;
}

#u1019-6
{
	color: #F5F5F5;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	min-height: 20px;
	font-weight: normal;
	z-index: 27;
	font-style: italic;
	font-size: 14px;
}

#u988-4
{
	line-height: 22px;
	color: #EDF8EF;
	width: 64px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	font-weight: bold;
	z-index: 33;
	font-style: normal;
	font-size: 18px;
}

#u999-6
{
	color: #EDF8EF;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	min-height: 20px;
	font-weight: normal;
	z-index: 37;
	font-style: italic;
	font-size: 14px;
}

#u1357
{
	margin-right: -10000px;
	position: relative;
	-webkit-transform: matrix(0.7193,0.6947,-0.6947,0.7193,28,-12);
	-ms-transform: matrix(0.7193,0.6947,-0.6947,0.7193,28,-12);
	border-color: #C7C7C7;
	transform: matrix(0.7193,0.6947,-0.6947,0.7193,28,-12);
	border-style: solid;
	z-index: 47;
	width: 56px;
	background-color: #5CB85C;
	height: 58px;
	border-width: 1px 1px 0px 0px;
}

#u1358-4
{
	line-height: 22px;
	color: #F5F5F5;
	width: 64px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	font-weight: bold;
	z-index: 48;
	font-style: normal;
	font-size: 18px;
}

#u1359-6
{
	color: #F5F5F5;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	min-height: 20px;
	font-weight: normal;
	z-index: 52;
	font-style: italic;
	font-size: 14px;
}

.html
{
	background-color: #777777;
}

body
{
	position: relative;
}

@media (min-width: 1367px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1366px;
	}

	#u991
	{
		width: 972px;
		padding-bottom: 0px;
		left: 192px;
	}

	#u991_position_content
	{
		padding-top: 16px;
	}

	#u996-4
	{
		margin-left: 40px;
	}

	#u995
	{
		width: 100px;
		height: 320px;
		padding-bottom: 37px;
		margin-top: 11px;
	}

	#u987
	{
		width: 887px;
		margin-top: 36px;
		left: 42px;
	}

	#u987_position_content
	{
		margin-top: -2px;
		margin-bottom: -75px;
		height: 380px;
	}

	#u997
	{
		width: 887px;
	}

	#u998
	{
		padding-bottom: 45px;
	}

	#u988-4
	{
		margin-top: 14px;
		left: 15px;
	}

	#pu990
	{
		z-index: 7;
		width: 0.01px;
		margin-right: -10000px;
		margin-left: 119px;
	}

	#u990
	{
		width: 127px;
	}

	#u1356
	{
		width: 127px;
		left: 124px;
	}

	#u990:hover,#u1356:hover
	{
		width: 127px;
	}

	#pu989-5
	{
		margin-left: 13px;
		margin-top: 8px;
	}

	#u989-5
	{
		margin-top: 12px;
	}

	#u994-3
	{
		width: 101px;
		min-height: 34px;
		margin-top: 146px;
		left: 566px;
	}

	#u994-3:hover
	{
		margin-top: 146px;
		min-height: 34px;
		width: 101px;
	}

	#u993-4
	{
		margin-top: 155px;
		left: 594px;
	}

	#u1397-5
	{
		margin-top: 66px;
	}

	#u1403-4
	{
		margin-top: 117px;
	}

	#widgetu1001
	{
		height: 280px;
		left: 466px;
	}

	#widgetu1002
	{
		width: 108px;
		height: 28px;
		margin-top: 28px;
		left: 270px;
	}

	#widgetu1002.fld-err-st
	{
		margin-top: 28px;
		width: 108px;
		height: 28px;
	}

	#u1003-3
	{
		width: 96px;
		height: 16px;
	}

	#widgetu1002:hover #u1003-3
	{
		width: 96px;
		height: 16px;
	}

	#widgetu1002.focus-st #u1003-3
	{
		width: 96px;
		height: 16px;
	}

	#widgetu1002.fld-err-st #u1003-3,#widgetu1002_input
	{
		width: 96px;
		height: 16px;
	}

	#widgetu1010
	{
		width: 340px;
		left: 44px;
	}

	#widgetu1010.fld-err-st
	{
		margin-top: 0px;
		width: 340px;
	}

	#u1011-3
	{
		width: 328px;
	}

	#widgetu1010:hover #u1011-3
	{
		width: 328px;
	}

	#widgetu1010.focus-st #u1011-3
	{
		width: 328px;
	}

	#widgetu1006
	{
		width: 340px;
		margin-top: 81px;
	}

	#widgetu1006.fld-err-st
	{
		margin-top: 81px;
		width: 340px;
	}

	#widgetu1010.fld-err-st #u1011-3,#widgetu1010_input,#u1007-3
	{
		width: 328px;
	}

	#widgetu1006:hover #u1007-3
	{
		width: 328px;
	}

	#widgetu1006.focus-st #u1007-3
	{
		width: 328px;
	}

	#widgetu1006.fld-err-st #u1007-3,#widgetu1006_input
	{
		width: 328px;
	}

	#u1016-4,#u1014-4,#u1017-4
	{
		margin-top: 255px;
		left: 224px;
	}

	#u1015-4
	{
		width: 101px;
		margin-top: 145px;
		margin-left: 680px;
		z-index: 100;
	}

	#u1015-4:hover
	{
		width: 101px;
		margin-top: 145px;
		margin-left: 680px;
		z-index: 100;
	}

	#u1015-4:active
	{
		margin-top: 146px;
		width: 101px;
	}

	#u992
	{
		margin-top: 199px;
		left: 326px;
	}

	#u1018
	{
		margin-top: 199px;
		left: 453px;
	}

	#u1000-4
	{
		margin-top: 201px;
		left: 408px;
	}

	#u1019-6
	{
		width: 124px;
		margin-top: 226px;
		left: 406px;
	}

	#u999-6
	{
		width: 117px;
		margin-top: 225px;
		left: 248px;
	}

	#u1357
	{
		margin-top: 199px;
		left: 576px;
	}

	#u1358-4
	{
		margin-top: 201px;
		left: 532px;
	}

	#u1359-6
	{
		width: 124px;
		margin-top: 226px;
		left: 530px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 581px);
	}

	body
	{
		min-width: 1366px;
	}

}

@media (max-width: 1366px)
{
	#muse_css_mq
	{
		background-color: #000556;
	}

	#bp_1366.active
	{
		display: block;
	}

	#page
	{
		width: 1280px;
	}

	#u991
	{
		width: 836px;
		left: 212px;
	}

	#u991_position_content
	{
		padding-top: 15px;
	}

	#u996-4
	{
		margin-left: 31px;
	}

	#u995
	{
		width: 836px;
		padding-bottom: 27px;
		margin-top: 4px;
	}

	#u987
	{
		width: 778px;
		margin-top: 20px;
		left: 26px;
	}

	#u987_position_content
	{
		margin-top: -1px;
		margin-bottom: -28px;
	}

	#u997
	{
		width: 778px;
	}

	#u998
	{
		height: 81px;
	}

	#u990
	{
		width: 126px;
		left: 119px;
	}

	#u1356
	{
		width: 126px;
		left: 245px;
	}

	#u990:hover,#u1356:hover
	{
		width: 126px;
	}

	#pu989-5
	{
		margin-left: 5px;
		margin-top: 5px;
	}

	#u989-5
	{
		margin-top: 10px;
		left: 5px;
	}

	#u994-3
	{
		width: 100px;
		min-height: 33px;
		margin-top: 123px;
		left: 548px;
	}

	#u994-3:hover
	{
		margin-top: 123px;
		min-height: 33px;
		width: 100px;
	}

	#u993-4
	{
		margin-top: 132px;
		left: 576px;
	}

	#u1397-5
	{
		margin-top: 65px;
		left: 5px;
	}

	#u1403-4
	{
		margin-top: 118px;
		left: 5px;
	}

	#widgetu1001
	{
		height: 200px;
	}

	#widgetu1002
	{
		width: 112px;
		height: 42px;
		left: 653px;
	}

	#widgetu1002.fld-err-st
	{
		margin-top: 0px;
		width: 112px;
		height: 42px;
	}

	#u1003-3
	{
		width: 100px;
		height: 30px;
	}

	#widgetu1002:hover #u1003-3
	{
		width: 100px;
		height: 30px;
	}

	#widgetu1002.focus-st #u1003-3
	{
		width: 100px;
		height: 30px;
	}

	#widgetu1002.fld-err-st #u1003-3,#widgetu1002_input
	{
		width: 100px;
		height: 30px;
	}

	#widgetu1010
	{
		width: 40px;
		margin-top: 48px;
		left: 669px;
	}

	#widgetu1010.fld-err-st
	{
		margin-top: 48px;
		width: 40px;
	}

	#u1011-3
	{
		width: 28px;
	}

	#widgetu1010:hover #u1011-3
	{
		width: 28px;
	}

	#widgetu1010.focus-st #u1011-3
	{
		width: 28px;
	}

	#widgetu1006
	{
		width: 40px;
		margin-top: 47px;
		left: 721px;
	}

	#widgetu1006.fld-err-st
	{
		margin-top: 47px;
		width: 40px;
	}

	#widgetu1010.fld-err-st #u1011-3,#widgetu1010_input,#u1007-3
	{
		width: 28px;
	}

	#widgetu1006:hover #u1007-3
	{
		width: 28px;
	}

	#widgetu1006.focus-st #u1007-3
	{
		width: 28px;
	}

	#widgetu1006.fld-err-st #u1007-3,#widgetu1006_input
	{
		width: 28px;
	}

	#u1016-4,#u1014-4,#u1017-4
	{
		margin-top: 175px;
	}

	#u1015-4
	{
		width: 103px;
		margin-top: 122px;
		left: 652px;
	}

	#u1015-4:hover
	{
		margin-top: 122px;
		width: 103px;
	}

	#u1015-4:active
	{
		margin-top: 122px;
		width: 103px;
	}

	#u992
	{
		margin-top: 175px;
		left: 330px;
	}

	#u1018
	{
		margin-top: 175px;
		left: 456px;
	}

	#u1000-4
	{
		margin-top: 183px;
		left: 411px;
	}

	#u1019-6
	{
		width: 106px;
		margin-top: 206px;
		left: 411px;
	}

	#u988-4
	{
		margin-top: 183px;
		left: 259px;
	}

	#u999-6
	{
		width: 101px;
		margin-top: 206px;
		left: 257px;
	}

	#u1357
	{
		margin-top: 175px;
		left: 581px;
	}

	#u1358-4
	{
		margin-top: 183px;
		left: 537px;
	}

	#u1359-6
	{
		width: 106px;
		margin-top: 206px;
		left: 537px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 579px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 1280px;
		padding-bottom: 67px;
	}

}

