.version.pendiente2 /* version checker */
{
	color: #0000E5;
	background-color: #225BE8;
}

#page
{
	margin-right: auto;
	background-image: none;
	min-height: 444px;
	background-color: #777777;
	z-index: 1;
	padding-bottom: 62px;
	border-width: 0px;
	border-color: transparent;
	margin-left: auto;
}

#u2779
{
	margin-top: 91px;
	border-radius: 6px;
	margin-right: -10000px;
	position: relative;
	z-index: 2;
	background-color: #FFFFFF;
}

#u2812-4
{
	z-index: 7;
	position: relative;
	display: block;
	vertical-align: top;
}

#u2785
{
	border-radius: 0px 0px 8px 8px ;
	position: relative;
	border-color: #C7C7C7;
	border-style: solid;
	z-index: 3;
	background-color: #FFFFFF;
	border-width: 1px 0px 0px;
}

#u2788
{
	border-radius: 8px;
	margin-right: -10000px;
	position: relative;
	border-color: #C7C7C7;
	border-style: solid;
	z-index: 4;
	border-width: 1px;
	background-color: transparent;
}

#u2779_position_content,#u2788_position_content
{
	width: 100%;
}

#u2813
{
	left: -1px;
	border-radius: 8px 8px 0px 0px ;
	background-color: #F5F5F5;
	position: relative;
	border-style: solid;
	z-index: 5;
	border-width: 1px;
	border-color: #C7C7C7;
}

#u2780
{
	border-radius: 7px 0px 0px 0px ;
	margin-right: -10000px;
	position: relative;
	z-index: 6;
	width: 119px;
	background-color: #B1DFBB;
}

#pu2808-5
{
	z-index: 11;
	width: 0.01px;
}

#u2808-5
{
	display: block;
	margin-right: -10000px;
	position: relative;
	z-index: 11;
	vertical-align: top;
}

#u2811-7
{
	left: 10px;
	display: block;
	margin-right: -10000px;
	position: relative;
	z-index: 27;
	vertical-align: top;
}

#widgetu2789
{
	margin-right: -10000px;
	position: relative;
	z-index: 34;
	width: 0.01px;
}

#widgetu2790
{
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
	z-index: 35;
	border-width: 0px;
	background-color: transparent;
}

#widgetu2790.fld-err-st
{
	margin-bottom: 0px;
	border-radius: 0px;
	margin-right: -10000px;
	min-height: 0px;
	background-color: transparent;
	margin-left: 0px;
}

#u2791-3
{
	color: #B5B5B5;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 14px;
	z-index: 36;
	font-style: italic;
	background-color: transparent;
	padding: 6px;
}

#widgetu2790.non-empty-st #u2791-3
{
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	margin: -1px -10001px -1px -1px;
}

#widgetu2790:hover #u2791-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #666666;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	margin: -1px -10001px -1px -1px;
}

#widgetu2790.focus-st #u2791-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #666666;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	margin: -1px -10001px -1px -1px;
}

#widgetu2790.fld-err-st #u2791-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #D7244C;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	margin: -1px -10001px -1px -1px;
}

#widgetu2790.non-empty-st #u2791-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu2790:hover #u2791-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu2790.focus-st #u2791-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu2790_input
{
	color: #B5B5B5;
	padding: 6px;
	min-height: 0px;
	position: absolute;
	font-style: italic;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#widgetu2794
{
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
	z-index: 39;
	border-width: 0px;
	background-color: transparent;
	height: 28px;
}

#u2796-3
{
	color: #B5B5B5;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	height: 16px;
	line-height: 14px;
	z-index: 40;
	font-style: italic;
	background-color: transparent;
	padding: 6px;
}

#widgetu2794.non-empty-st #u2796-3
{
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	margin: -1px -10001px -1px -1px;
}

#widgetu2794:hover #u2796-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #666666;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	height: 16px;
	margin: -1px -10001px -1px -1px;
}

#widgetu2794.focus-st #u2796-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #666666;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	height: 16px;
	margin: -1px -10001px -1px -1px;
}

#widgetu2794.non-empty-st #u2796-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu2794:hover #u2796-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu2794.focus-st #u2796-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu2799
{
	margin-right: -10000px;
	border-color: transparent;
	position: relative;
	z-index: 43;
	border-width: 0px;
	background-color: transparent;
	height: 28px;
}

#widgetu2794.fld-err-st,#widgetu2799.fld-err-st
{
	margin-bottom: 0px;
	border-radius: 0px;
	margin-right: -10000px;
	height: 28px;
	min-height: 0px;
	background-color: transparent;
	margin-left: 0px;
}

#u2800-3
{
	color: #B5B5B5;
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	border-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	height: 16px;
	line-height: 14px;
	z-index: 44;
	font-style: italic;
	background-color: transparent;
	padding: 6px;
}

#widgetu2799.non-empty-st #u2800-3
{
	background-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	border-color: #666666;
	margin: -1px -10001px -1px -1px;
}

#widgetu2799:hover #u2800-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #666666;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	height: 16px;
	margin: -1px -10001px -1px -1px;
}

#widgetu2799.focus-st #u2800-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #666666;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	height: 16px;
	margin: -1px -10001px -1px -1px;
}

#widgetu2794.fld-err-st #u2796-3,#widgetu2799.fld-err-st #u2800-3
{
	min-height: 0px;
	padding-bottom: 6px;
	border-color: #D7244C;
	padding-top: 6px;
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
	height: 16px;
	margin: -1px -10001px -1px -1px;
}

#widgetu2799.non-empty-st #u2800-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu2799:hover #u2800-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu2799.focus-st #u2800-3 *
{
	color: #666666;
	font-style: normal;
}

#widgetu2790.fld-err-st #u2791-3 *,#widgetu2794.fld-err-st #u2796-3 *,#widgetu2799.fld-err-st #u2800-3 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu2794_input,#widgetu2799_input
{
	height: 16px;
	color: #B5B5B5;
	padding: 6px;
	min-height: 0px;
	position: absolute;
	font-style: italic;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#widgetu2790:hover #widgetu2790_input,#widgetu2790.focus-st #widgetu2790_input,#widgetu2790.fld-err-st #widgetu2790_input,#widgetu2794:hover #widgetu2794_input,#widgetu2794.focus-st #widgetu2794_input,#widgetu2794.fld-err-st #widgetu2794_input,#widgetu2799:hover #widgetu2799_input,#widgetu2799.focus-st #widgetu2799_input,#widgetu2799.fld-err-st #widgetu2799_input
{
	padding-bottom: 6px;
	padding-top: 6px;
}

#u2805-4
{
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	opacity: 0;
	padding-top: 4px;
	line-height: 14px;
	z-index: 47;
	width: 200px;
	font-size: 12px;
	height: 21px;
}

#widgetu2789.frm-sub-st #u2805-4 p
{
	line-height: 1;
	color: #999999;
	font-style: italic;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2798-4
{
	color: #FF0000;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	padding-top: 4px;
	line-height: 14px;
	z-index: 51;
	width: 200px;
	font-size: 12px;
	height: 21px;
}

#widgetu2789.frm-subm-err-st #u2798-4 p
{
	line-height: 1;
	color: #D7244C;
	font-style: italic;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2804-4
{
	color: #00FF00;
	position: relative;
	margin-right: -10000px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	padding-top: 4px;
	line-height: 12px;
	z-index: 55;
	width: 200px;
	font-size: 12px;
	height: 21px;
}

#widgetu2789.frm-sub-st #u2805-4,#widgetu2789.frm-subm-err-st #u2798-4,#widgetu2789.frm-subm-ok-st #u2804-4
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 4px;
	opacity: 1;
}

#widgetu2789.frm-subm-ok-st #u2804-4 p
{
	color: #999999;
	font-style: italic;
	font-size: 14px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2803-4
{
	border-style: solid;
	color: #FFFFFF;
	border-radius: 0px 6px 6px 0px ;
	font-size: 17px;
	position: relative;
	text-align: center;
	margin-right: -10000px;
	border-color: #666666;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	line-height: 26px;
	border-width: 1px;
	background-color: #5CB85C;
	height: 27px;
	padding: 7px 0px 0px;
}

#u2803-4:hover
{
	padding-top: 7px;
	margin-bottom: 0px;
	margin-right: -10000px;
	background-color: #141414;
	height: 27px;
	padding-bottom: 0px;
	min-height: 0px;
	border-color: #141414;
	margin-left: 0px;
}

#u2803-4:active
{
	padding-top: 7px;
	margin-bottom: 0px;
	margin-right: -10000px;
	background-color: #141414;
	height: 27px;
	padding-bottom: 0px;
	min-height: 0px;
	border-color: #141414;
	margin-left: 0px;
}

#u2787
{
	margin-right: -10000px;
	position: relative;
	-webkit-transform: matrix(0.7193,0.6947,-0.6947,0.7193,28,-12);
	-ms-transform: matrix(0.7193,0.6947,-0.6947,0.7193,28,-12);
	border-color: #C7C7C7;
	transform: matrix(0.7193,0.6947,-0.6947,0.7193,28,-12);
	border-style: solid;
	z-index: 16;
	width: 56px;
	background-color: #B1DFBB;
	height: 58px;
	border-width: 1px 1px 0px 0px;
}

#u2783-4
{
	line-height: 22px;
	color: #EDF8EF;
	width: 64px;
	min-height: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	font-weight: bold;
	z-index: 17;
	font-style: normal;
	font-size: 18px;
}

#u2807-6
{
	color: #EDF8EF;
	margin-right: -10000px;
	background-color: transparent;
	position: relative;
	min-height: 20px;
	font-weight: normal;
	z-index: 21;
	font-style: italic;
	font-size: 14px;
}

.html
{
	background-color: #777777;
}

body
{
	position: relative;
}

@media (min-width: 1367px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1366px;
	}

	#u2779
	{
		width: 972px;
		padding-bottom: 0px;
		left: 192px;
	}

	#u2779_position_content
	{
		padding-top: 16px;
	}

	#u2812-4
	{
		margin-left: 40px;
	}

	#u2785
	{
		width: 972px;
		padding-bottom: 37px;
		margin-top: 11px;
	}

	#u2788
	{
		width: 887px;
		padding-bottom: 0px;
		margin-top: 36px;
		left: 42px;
	}

	#u2788_position_content
	{
		margin-top: -2px;
		margin-bottom: -75px;
	}

	#u2813
	{
		width: 887px;
	}

	#u2780
	{
		padding-bottom: 45px;
	}

	#u2783-4
	{
		margin-top: 14px;
		left: 15px;
	}

	#pu2808-5
	{
		margin-left: 13px;
		margin-top: 8px;
	}

	#u2808-5
	{
		margin-top: 12px;
	}

	#u2811-7
	{
		margin-top: 22px;
	}

	#widgetu2789
	{
		height: 280px;
		left: 466px;
	}

	#widgetu2790
	{
		width: 108px;
		height: 28px;
		margin-top: 28px;
		left: 270px;
	}

	#widgetu2790.fld-err-st
	{
		margin-top: 28px;
		width: 108px;
		height: 28px;
	}

	#u2791-3
	{
		width: 96px;
		height: 16px;
	}

	#widgetu2790:hover #u2791-3
	{
		width: 96px;
		height: 16px;
	}

	#widgetu2790.focus-st #u2791-3
	{
		width: 96px;
		height: 16px;
	}

	#widgetu2790.fld-err-st #u2791-3,#widgetu2790_input
	{
		width: 96px;
		height: 16px;
	}

	#widgetu2794
	{
		width: 340px;
		left: 44px;
	}

	#widgetu2794.fld-err-st
	{
		margin-top: 0px;
		width: 340px;
	}

	#u2796-3
	{
		width: 328px;
	}

	#widgetu2794:hover #u2796-3
	{
		width: 328px;
	}

	#widgetu2794.focus-st #u2796-3
	{
		width: 328px;
	}

	#widgetu2799
	{
		width: 340px;
		margin-top: 81px;
	}

	#widgetu2799.fld-err-st
	{
		margin-top: 81px;
		width: 340px;
	}

	#widgetu2794.fld-err-st #u2796-3,#widgetu2794_input,#u2800-3
	{
		width: 328px;
	}

	#widgetu2799:hover #u2800-3
	{
		width: 328px;
	}

	#widgetu2799.focus-st #u2800-3
	{
		width: 328px;
	}

	#widgetu2799.fld-err-st #u2800-3,#widgetu2799_input
	{
		width: 328px;
	}

	#u2805-4,#u2798-4,#u2804-4
	{
		margin-top: 255px;
		left: 224px;
	}

	#u2803-4
	{
		width: 101px;
		margin-top: 146px;
		left: 206px;
	}

	#u2803-4:hover
	{
		margin-top: 146px;
		width: 101px;
	}

	#u2803-4:active
	{
		margin-top: 146px;
		width: 101px;
	}

	#u2787
	{
		margin-top: 199px;
		left: 326px;
	}

	#u2807-6
	{
		width: 117px;
		margin-top: 225px;
		left: 248px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 581px);
	}

	body
	{
		min-width: 1366px;
	}

}

@media (max-width: 1366px)
{
	#muse_css_mq
	{
		background-color: #000556;
	}

	#bp_1366.active
	{
		display: block;
	}

	#page
	{
		width: 1280px;
	}

	#u2779
	{
		width: 836px;
		left: 212px;
	}

	#u2779_position_content
	{
		padding-top: 15px;
	}

	#u2812-4
	{
		margin-left: 31px;
	}

	#u2785
	{
		width: 836px;
		padding-bottom: 27px;
		margin-top: 4px;
	}

	#u2788
	{
		width: 778px;
		margin-top: 20px;
		left: 26px;
	}

	#u2788_position_content
	{
		margin-top: -1px;
		margin-bottom: -25px;
	}

	#u2813
	{
		width: 778px;
	}

	#u2780
	{
		height: 81px;
	}

	#pu2808-5
	{
		margin-top: 5px;
	}

	#u2808-5
	{
		margin-top: 18px;
		left: 10px;
	}

	#u2811-7
	{
		margin-top: 90px;
	}

	#widgetu2789
	{
		height: 197px;
	}

	#widgetu2790
	{
		width: 112px;
		height: 42px;
		left: 658px;
	}

	#widgetu2790.fld-err-st
	{
		margin-top: 0px;
		width: 112px;
		height: 42px;
	}

	#u2791-3
	{
		width: 100px;
		height: 30px;
	}

	#widgetu2790:hover #u2791-3
	{
		width: 100px;
		height: 30px;
	}

	#widgetu2790.focus-st #u2791-3
	{
		width: 100px;
		height: 30px;
	}

	#widgetu2790.fld-err-st #u2791-3,#widgetu2790_input
	{
		width: 100px;
		height: 30px;
	}

	#widgetu2794
	{
		width: 40px;
		margin-top: 48px;
		left: 674px;
	}

	#widgetu2794.fld-err-st
	{
		margin-top: 48px;
		width: 40px;
	}

	#u2796-3
	{
		width: 28px;
	}

	#widgetu2794:hover #u2796-3
	{
		width: 28px;
	}

	#widgetu2794.focus-st #u2796-3
	{
		width: 28px;
	}

	#widgetu2799
	{
		width: 40px;
		margin-top: 47px;
		left: 726px;
	}

	#widgetu2799.fld-err-st
	{
		margin-top: 47px;
		width: 40px;
	}

	#widgetu2794.fld-err-st #u2796-3,#widgetu2794_input,#u2800-3
	{
		width: 28px;
	}

	#widgetu2799:hover #u2800-3
	{
		width: 28px;
	}

	#widgetu2799.focus-st #u2800-3
	{
		width: 28px;
	}

	#widgetu2799.fld-err-st #u2800-3,#widgetu2799_input
	{
		width: 28px;
	}

	#u2805-4,#u2798-4,#u2804-4
	{
		margin-top: 172px;
	}

	#u2803-4
	{
		width: 103px;
		margin-top: 122px;
		left: 657px;
	}

	#u2803-4:hover
	{
		margin-top: 122px;
		width: 103px;
	}

	#u2803-4:active
	{
		margin-top: 122px;
		width: 103px;
	}

	#u2787
	{
		margin-top: 175px;
		left: 330px;
	}

	#u2783-4
	{
		margin-top: 183px;
		left: 259px;
	}

	#u2807-6
	{
		width: 101px;
		margin-top: 206px;
		left: 257px;
	}

	.css_verticalspacer .verticalspacer
	{
		height: calc(100vh - 579px);
	}

	body
	{
		overflow-x: hidden;
		min-width: 1280px;
		padding-bottom: 67px;
	}

}

